/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  width: 100%;
}

#searchbar {
  border-radius: 20px;
  border-color: #bafba1;
  border-style: solid;
  text-indent: 10px;
}
